extends _layout

block content
    div.mainChunk
      h3 Pratix Parikh
      p Contact Me
      div.contactInfo
        p I am available on all social media so you can find me literally everywhere! I mainly frequent LinkedIn, Facebook, Instagram and Twitter. <br> For business inquiries please contact me by my email: Pratix98@gmail.com. <br> Below are links to all my social media accounts, feel free to message me there!
      div.contactTable
        table.wholeTable
          tr.tableHead 
            th.site LinkedIn
            th.site Facebook
            th.site Instagram
            th.site Twitter
          tr.tableBody
            td.site Link: 
            td.site Link: 
            td.site Link:
            td.site Link:
          tr.tableBody
            td.site Image:
            td.site Image:
            td.site Image:
            td.site Image: