extends _layout

block content
    div.mainChunk
        h3 Pratix Parikh
        p  Exchange Rate API
        ul.currency
            each rate, currencyCode in rates
                li
                    strong= `${currencyCode}: `
                    span= rate

block page-scripts
    script(defer src="/script.js")