extends _layout

block content
    div.containerMain
        h3 Pratix Parikh
        p  Yelp Search API
        div(class="containerYelpAPI")
            div(class="row")
                div(class='col')
                    div(class="containerYelp d-flex")
                        form(class='form-inline' method='GET')
                            table.tableForm-r
                                tr.formRow1
                                    th.formRowText What
                                    th.formRowText Where
                                    th.formRowText How many 
                                    th(rowspan='2' class="formRowButton") 
                                        button(type="submit" class="btn btn-primary") Search
                                tr.formRow2
                                    td.formRowInput
                                        input(type="text" class="inputForm" name="term" value=`${form.term || ""}` placeholder=`Term`)
                                    td.formRowInput
                                        input(type="text" class="inputForm" name="location" value=`${form.location || ""}` placeholder=`Location`)
                                    td.formRowInput
                                        input(type="text" class="inputForm" name="limit" value=`${form.limit || ""}` placeholder=`Limit`)
                    div(class='businessOutput')
                        if businesses.length > 0
                            table.table.businessTable-r
                                th.businessHead-r Business 
                                each business in businesses
                                    tr.businessRow-r
                                        td= business.name

block page-scripts
    script(defer src="/script.js")